.test1{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(45deg);
    transition: all 1s;
}
.tacol{
    border: 1px solid black;
    text-align: center;
    background: #000;
}